<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-primary text-center">Sign up</h2>
    <hr>
    <div class="mb-3">
        <input type="text" 
        class="form-control"
        name="username"
        placeholder="Username"
        [(ngModel)]="model.username">
    </div>
    <div class="mb-3">
        <input type="password"
         class="form-control"
         name="password"
         placeholder="password"
         [(ngModel)]="model.password">
    </div>
    <div class="text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default" (click)="cancel()">Cancel</button>
    </div>
</form>
